@font-face {
    font-family: 'HelveticaNowDisplay';  
    src: 
    url('../font/HelveticaNowDisplay-Medium.ttf') ;  

}

body {
   padding:  0;
   margin: 0 ;
   font-family: 'HelveticaNowDisplay';

}
