@font-face {
    font-family: 'HelveticaNowDisplay';
    src:
    url('../font/HelveticaNowDisplay-Medium.ttf') ;

}

body {
   padding:  0;
   margin: 0 ;
   background: #111;
   color: #FFF;
   font-family: 'HelveticaNowDisplay';
    /* margin-top: 60px; */

}
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(28, 36, 43, 0.50);
    padding: 16px 20px;
    backdrop-filter: blur(10px);
    position: fixed;  /* Đặt vị trí cố định */
    top: 0;           /* Cố định ở đầu trang */
    left: 0;          /* Căn trái */
    right: 0;         /* Căn phải */
    z-index: 100;
}
.navbar-toggler {
    color: white;
}

.form-inline button {
    background-color: white;
    border: none;
    /* color: black; */
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/*header .main  {*/
/*    max-width: 1440px; background: #FBFBFB ;*/
/*}*/
.menu {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    color: white;

}
#navbarSupportedContent{
    margin-left: 9rem;
}
.menu a {
    color:  #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
header button {
    display: flex;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid #111;
    border-radius: 99px;
    background: var(--gradient, linear-gradient(90deg, #00ABFF 0%, #0098E3 100%));
    color: var(--white, #FFF);
    font-size: 20px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: normal;
}
.layout-1 {
    opacity: 1;
    background: url(../img/bk-h.png)  0px -53.146px / 100% 106.984% no-repeat;
    height: 673px;
    flex-shrink: 0;
    align-items: center;
    padding-top: 5%;
}
.custom-gap {
    gap: 8px; /* Khoảng cách giữa các phần tử */
}
.lazy-content {
    opacity: 1; /* Ban đầu phần tử chưa hiển thị */
    transition: opacity 1s; /* Hiệu ứng mượt mà khi hiển thị */
}

.lazy-content.visible {
    opacity: 1; /* Khi được xem thấy, phần tử sẽ hiển thị */
}
.item-contact {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 24px;
   /* gap: 12px; */
   margin-left: 13px
}

.item-contact img {
    width: 72px;
height: 72px;
}
.item-contact h1 {
    color: #FFF;

font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
}
.item-contact p {
    color: #ACACAC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.my-custom-style {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: 54px;
}
.my-custom-style p {
    color: #ACACAC;

text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.custom-padding {
    padding: 44px 56px;  /* Thiết lập padding 44px trên/dưới và 56px trái/phải */
}
.bg-customer {
    background: rgba(255, 255, 255, 0.05) ;
    border-radius: 20px;
}
.item-page img {
    width: 100%;
/* height: 392px; */
flex-shrink: 0
}
.item-page-1 img {
    width: 42px;
}
.list {
    /* margin-right: 1px; */
}
.list h1  {
    color: #FFF;

font-size: 24px;
font-style: normal;
/* font-weight: 700; */
line-height: 32px;
}
.list p{
    color: #ACACAC;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.my-custom-tab {
    /* display: flex; */
padding: 8px;
align-items: flex-start;
border-radius: 99px;
background: rgba(255, 255, 255, 0.10);
}
.my-custom-tab .active {
    border-radius: 99px;
    background: var(--Primary, #00ABFF);
}
.bg-customer-1 {
    background: rgba(255, 255, 255, 0.05);
}
.staking h1  {
    color: #FFF;

font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
}
.staking p {
    color: #FFF;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
opacity: 0.6;
}
.staking img {
    /* margin-top: -52px;
    margin-left: 68px; */
    width: 100%;

}
.bg-customer-4 {
    border-radius: 32px;
    border: 1px dashed rgba(255, 255, 255, 0.50);
    padding: 40px 32px;
    background: rgba(255, 255, 255, 0.02);
}
.bg-customer-4 h1 {
    color: #FFF;
    /* text-align: right; */
    font-size: 36px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: 54px;
}
.kevach {
    width: 48px;
    height: 5px;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 4px;

background: #FFA943;
}
.img-fluid {
    transition: transform 0.3s;
}

.img-fluid:hover {
    transform: scale(1.1);
}
@keyframes rotate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.img-svg {
    margin-top: 2rem;
}
.rotate {
    animation: rotate 2s infinite;
    transform-origin: top;
}
 h3 {
    color: #FFF;

        font-size: 24px;
        font-style: normal;
        line-height: 32px;
}
.bg-customer-4 p {
    color: #ACACAC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.list_row {
    border-radius: 99px;
    padding: 5px;
background: rgba(255, 255, 255, 0.05);

}
.list_row img {
    width: 24px;
}
.list_row span {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: 1%;
}
.list_row .item_list {
    border-right:1px solid rgba(255, 255, 255, 0.10);
    padding: 10px;
}
.list_row .item_list_f {
    padding: 10px;
}
footer {
    background: rgba(255, 255, 255, 0.02);
}
.layout-1 button {
    border-radius: 99px;
    background: var(--Primary, #00ABFF);
    padding: 10px 32px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
  
}
footer p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.4;
    margin-top: 12px;
}
.my-3 p {
    color: #ACACAC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
footer img {
    /* margin-top: 12px; */
    align-self: flex-end;

}
.title {
    border-radius: 99px;
    background: rgba(255, 255, 255, 0.10);
    padding: 9px;
    margin-top: 6rem;
    width: 62%;
}
.title span {
    color: #FFF;
    opacity: 0.8;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-left: 12px;
}
.img-responsive {
    width: 100%; 
    height: auto;
}
.staking_h1 {
    margin-top: 2rem;
}
.staking_e img {
    width: 2%;
    margin-top: 2rem;

}
.staking_e {
    gap: 12px;
}
section {
    margin: 50px 0;
    padding: 20px;
    transition: opacity 1s ease-in-out;
    opacity: 0; 
}

.visible {
    opacity: 1; 
}
@media (max-width: 767px) {
    .img-responsive {
        width: 80%; 
    }
    .item-contact {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        padding: 24px;
       /* gap: 12px; */
    }
    #navbarSupportedContent{
        margin-left: 0;
    }
}
@media (max-width: 844px) {
    .img-responsive {
        width: 80%; 
    }
    .item-contact {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        padding: 24px;
       /* gap: 12px; */
    }
    #navbarSupportedContent{
        margin-left: 0;
    }
}
@media (max-width: 767.98px) { 
    .list_row .item_list {
      border-right: none; 
    }
    .item-contact {
        margin-top: 1rem;
        margin-left: 0px;
    }
    .title {
        border-radius: 99px;
        background: rgba(255, 255, 255, 0.10);
        padding: 9px;
        margin-top: 6rem;
        width: 100%;
    }
  }
